@use 'base';
@use 'mixins';

.frame-type-netwerk_bigtextimagesh1 {
    width: 100%;
    display: grid;
    grid-template-columns: 4% 1fr base.$margin_88 1fr base.$margin_88 1fr 4%;
    grid-template-areas: 
        ". tl tl tl . i1 ."
        ". tm tm tm . i1 ."
        ". i2 . tr tr tr . "
        ". i2 . h1 h1 h1 .";
        row-gap: base.$margin_88;
    p {
        &.text-left, &.text-middle, &.text-right {
            @include mixins.header($size:base.$fontsize_170, $line-height:1.2);
        }
        &.text-left {
            grid-area: tl;
        }
        &.text-middle {
            grid-area: tm;
            justify-self: flex-end;
        }
        &.text-right {
            grid-area: tr;
            justify-self: flex-end;
        }
    }
    .header {
        grid-area: h1;
        justify-self: flex-end;
        font-family: base.$font_2;
        font-size: base.$fontsize_18;
        line-height: 1.2;
        font-weight: 900;
        letter-spacing: 0.9px;
        text-transform: uppercase;
    }
    .image-right {
        grid-area: i1;
        height: auto;
        width: 100%;
        max-width: 352px;
    }
    .image-left {
        grid-area: i2;
        height: auto;
        width: 100%;
        max-width: 507px;
    }
    @media (max-width: 800px) {
        grid-template-columns: 4% 1fr 1fr 4%;
        grid-template-areas: 
            ". tl tl ."
            ". tm tm ."
            ". tr tr . "
            ". h1 h1 ."
            ". i1 i2 . ";
        row-gap: unset;
        column-gap: 20px;
        p {
            &.text-left, &.text-middle, &.text-right {
                justify-self: center;
                text-align: center;
            }
        }
        .header {
            margin-top: base.$margin_64;
            margin-bottom: base.$margin_64;
            justify-self: center;
            text-align: center;
        }
    }
}