@use 'base';
@use 'mixins';
.frame-type-netwerk_icontextbutton {
    width: 100%;
    display: flex;
    justify-content: center;
    &.frame-background {
        padding-top: base.$margin_100;
        padding-bottom: base.$margin_100;
        background: base.$color_3;
        svg {
            fill: base.$color_2;
        }
        header {
            h2, p {
                color: base.$color_2;
            }
        }
        p {
            color: base.$color_2;
            &.button {
                a {
                    color: base.$color_2;
                    border-color: base.$color_2;
                }
            }
        }
    }
    .content {
        @include mixins.flexbox($j_content:flex-start, $f_direction:column);
        @extend %frame_1160;
    }
    svg {
        fill: base.$color_1;
        width: base.$margin_150;
        height: auto;
        & + header {
            margin-top: base.$margin_100;
        }
        & + p {
            margin-top: 32px;
        }
    }
    header {
        text-align: center;
        p {
            @include mixins.subheader();
            text-transform: uppercase;
            font-family: base.$font_2;
            & + h2 {
                margin-top: 10px
            }
        }
        h2 {
            @include mixins.header();
        }
        & + p {
            margin-top: 20px;
        }
    }
    p {
        @include mixins.text($font_size:base.$fontsize_40);
        &.text-center {
            text-align: center;
        }
        &.button {
            @include mixins.button($margin_top: 30px)
        }
    }
}