@use 'base';
@use 'mixins';
.frame-type-netwerk_roomteaser {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    ul {
        @include mixins.flexbox($j_content:center, $a_items:center, $c_gap:36px, $r_gap:base.$margin_64, $f_wrap:wrap);
        list-style: none;
        li {
            width: calc((100% - 36px) / 2);
        }
    }
    img {
        width: 100%;
        height: auto;
    }
    .content {
        position: relative;
        margin-left: 40px;
        margin-right: 40px;
        padding: 30px;
        background: #fff;
        margin-top: calc(base.$margin_100 * -1);
        p {
            &.header {
                @include mixins.text($font_size:base.$fontsize_40);
                font-family: base.$font_2;
                text-transform: uppercase
            }
            &.textsmall {
                @include mixins.subheader();
                text-transform: uppercase;
                font-family: base.$font_2;
                margin-top: 10px;
            }
            &.textbig {
                @include mixins.header($size:base.$fontsize_40);
                margin-top: 10px;
            }
        }
        .buttons {
            @include mixins.flexbox($j_content:flex-start, $f_direction:row, $c_gap:36px);
            @include mixins.button();
            margin-top: 30px;
            a {
                width: calc((100% - 36px) / 2);
                text-align: center;
            }
        }
    }
    @media (max-width: 1400px) {
        .content {
            .buttons {
                column-gap: 10px;
                a {
                    width: calc((100% - 10px) / 2);
                }
            }
        }
    }
    @media (max-width: 1200px) {
        ul {
            column-gap: 20px;
            li {
                width: calc((100% - 20px) / 2);
            }
        }
        .content {
            margin-left: 0;
            margin-right: 0;
            margin-top: 0;
        }
    }
    @media (max-width: 1000px) {
        .content {
            .buttons {
                flex-wrap: wrap;
                row-gap: 10px;
                a {
                    width: 100%;
                }
            }
        }
    }
    @media (max-width: 800px) {
        ul {
            li {
                width: 100%;
            }
        }
    }
}