@use 'base';
@use 'mixins';
.frame-type-netwerk_teaser {
    padding-right: 4%;
    padding-left: 4%;
    width: 100%;
    ul {
        list-style: none;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: 
            "t1 t2 t3"
            ". t2 t3"
            "t4 t5 t3"
            "t4 t5 t6"
            ". t5 t6"
            ". . t6";
        grid-template-rows: auto base.$margin_150 base.$margin_150 auto base.$margin_150 base.$margin_150;
        column-gap: 36px;
        align-items: flex-end;
        li {
            position: relative;
            padding-top: 20px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            /*&.netwerk_teaser-sizer, &.netwerk_teaser-item {
                width: calc((100% - 72px) / 3);
            }
            &.netwerk_teaser-gutter {
                width: 36px;
            }
            &:nth-child(4) {
                padding-top: base.$margin_150;
            }
            &:nth-child(5) {
                padding-top: calc(base.$margin_150 * 2);
            }*/
            &:nth-child(1) {
                grid-area: t1;
            }
            &:nth-child(2) {
                grid-area: t2;
                padding-top: base.$margin_150;
            }
            &:nth-child(3) {
                grid-area: t3;
                padding-top: calc(base.$margin_150 * 2);
            }
            &:nth-child(4) {
                grid-area: t4;
            }
            &:nth-child(5) {
                grid-area: t5;
            }
            &:nth-child(6) {
                grid-area: t6;
            }
            &:nth-child(3n + 2), &:nth-child(3n + 3) {
                &::before {
                    content: '';
                    position: absolute;
                    left: -18px;
                    top: 0;
                    width: 1px;
                    height: 100%;
                    background: base.$color_1;
                }
            }
        }
    }
    a {
        text-decoration: none;
        color: base.$color_1
    }
    .teaser-content {
        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-end;
        column-gap: 16px;
        margin-bottom: 20px;
        p {
            @include mixins.header();
            writing-mode:vertical-rl;
            text-orientation: mixed;
            rotate: 180deg;
            min-height: 433px;
        }
        svg {
            fill: base.$color_1;
            height: 45px;
            width: auto;
            rotate: 90deg;
            transform-origin: bottom left;
            transform: translateX(-100%);
            align-self: flex-end;
        }
    }
    img {
        width: 100%;
        height: auto;
    }
}