<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
    <f:if condition="{languages.0.active}">
        <li class="language"><f:link.page pageUid="{data.uid}" additionalParams="{L: '{languages.1.languageId}'}" title="{settings.linktitle} - {languages.1.navigationTitle}">{languages.1.twoLetterIsoCode}</f:link.page></li>
    </f:if>
    <f:if condition="{languages.1.active}">
        <li class="language"><f:link.page pageUid="{data.uid}" additionalParams="{L: '{languages.0.languageId}'}" title="{settings.linktitle} - {languages.0.navigationTitle}">{languages.0.twoLetterIsoCode}</f:link.page></li>
    </f:if>
</html>