<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<ul class="topbuttons">
		<f:if condition="{settings.request_uid}">
            <li>
                <f:link.page pageUid="{settings.request_uid}" title="{settings.linktitle} - {f:translate(key:'LLL:EXT:nw_template/Resources/Private/Languages/lang.xlf:request') -> f:format.raw()}">
                    {f:translate(key:'LLL:EXT:nw_template/Resources/Private/Languages/lang.xlf:request') -> f:format.raw()}
                </f:link.page>
            </li>
        </f:if>
		<f:if condition="{settings.book_uid}">
            <li>
                <f:link.page pageUid="{settings.book_uid}" title="{settings.linktitle} - {f:translate(key:'LLL:EXT:nw_template/Resources/Private/Languages/lang.xlf:book_now') -> f:format.raw()}">
                    {f:translate(key:'LLL:EXT:nw_template/Resources/Private/Languages/lang.xlf:book_now') -> f:format.raw()}
                </f:link.page>
            </li>
        </f:if>
	</ul>
</html>